:host {
  ion-text {
    .ct-sn {
      color: var(--ion-color-dark);
    }
  }
  ion-text p {
    padding: 2px 0;
  }
  
  ion-item-sliding .sliding-snip {
    width: 2px;
    height: 50%;
    position: absolute;
    float: right;
    right: 0;
    background: var(--ion-color-medium);
    border-radius: 5px 0 0 5px;
  }

  ion-item-sliding.item-sliding-active-slide .sliding-snip {
    display: none;
  }

  ion-refresher {
    --color: var(--theme-orange);
    --ion-text-color: var(--theme-orange);
  }

  ion-toolbar, ion-list-header, ion-item {
    ion-button {
      --background: transparent;
      --background-activated: transparent !important;
    }
  }

  .label-blue {
    color: var(--theme-blue-deep);
    font-weight: bold;
    opacity: 9;
  }

  ion-label p, ion-label span {
    font-size: 15px;
  }

  ion-text.missing-text {
    white-space: normal !important;
    font-size: 12px;
  }
}  