<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Citations
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navigateTo('/qrscan')">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content color="primary"></ion-refresher-content>
  </ion-refresher>
  
  <ion-list lines="full">
    <ion-list-header color="medium">
      <ion-label>{{today | date}}</ion-label>
    </ion-list-header>
    <ion-item-sliding detail="false" *ngFor="let citation of citations">
      <ion-item (click)="navigateTo('/citation/' + citation.id)">
        <ion-label>
          <ion-text color="dark">
            <span class="ct-sn">
                {{citation.serial_number}},
            </span>
            
            <span class="ct-license">
                {{citation.vehicle_license}}
            </span>
          </ion-text>
          <ion-text class="ct-location">
            <p>
              Loc. {{citation.location}}
            </p>
          </ion-text>
          <ion-text class="ct-expdate">
            <p>Exp. {{citation.timestamp | date: 'short'}}</p>
          </ion-text>
        </ion-label>
        <ion-icon slot="end" [name]="citation.list_icon || 'information-circle'" [color]="citation.list_icon_color || 'primary'" slot="end"></ion-icon>
        <div class='sliding-snip'></div>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option slot="icon-only" color="danger" (click)="deleteCitation(citation)">
          <ion-icon name="trash" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
