<ion-header>
  <ion-navbar>
		<button ion-button menuToggle>
		  <ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>New Ticket</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top center>
    <button ion-fab color="secondary" (click)="scan()">
      <ion-icon name="qr-scanner"></ion-icon>
    </button>
  </ion-fab>
  <div class="prompt-top">
    Scan:
  </div>
  <!--
  <p>Raw URL from scan:</p>
  <p><strong>{{urlRaw}}</strong></p>
  <p>Query string: <strong>{{this.urlParts[1]}}</strong></p>
  <p>Extracted cid: <strong>{{this.cid}}</strong></p>
  <p>Extracted sn: <strong>{{this.sn}}</strong></p>
  <hr>
  -->
  <br>
  <br>
  <br>
  <br>
  <!--<ion-card *ngIf="citationFound">-->
  <div class="cardWrapper" *ngIf="citationFound == 1">
  <ion-card >
    <ion-card-header>
      <h2><strong>{{this.citationStatus}}</strong></h2>
    </ion-card-header>
    <ion-card-content padding>
      <ul class="cardlist">
        <li>Citation #: <strong>{{this.sn}}</strong></li>
        <li>Org: <strong>{{this.cid}}</strong></li>
      </ul>
    </ion-card-content>
  </ion-card>
  </div>
  <div class="cardWrapper" *ngIf="citationFound == 2">
  <ion-card >
    <ion-card-header class="bad">
      <h2><strong>{{this.citationStatus}}</strong></h2>
    </ion-card-header>
    <ion-card-content class="bad" padding>
        <p>Scanned data:</p>
        <p><strong>{{this.barcodeText}}</strong></p>
    </ion-card-content>
  </ion-card>
  </div>
  <div class="prompt-bottom" *ngIf="citationFound == 1">
    Continue:
  </div>
  <ion-fab center bottom *ngIf="citationFound == 1">
    <button ion-fab color="positive" (click)="goToTabsController()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
