page-qrscan {

}
div.cardWrapper {
  margin-top: 50px;
}
div.prompt-top {
  position: absolute;
  top: 0px;
  width: 100%;
  /*text-align: right !important;*/
  padding: 30px 0px 22px 90px;
  font-weight: 700 !important;
  font-size: 1.5em !important;
  border-bottom: 1px solid #b6b6b6;
}
div.prompt-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /*text-align: right !important;*/
  padding: 22px 0px 26px 55px;
  font-weight: 700 !important;
  font-size: 1.5em !important;
  border-top: 1px solid #b6b6b6;
}
ul.cardlist li {
  font-size: 1.3em !important;
}
ion-card-content {
   background-color: #FCFCC6;
   font-size: 1.3em;
}
ion-card-content.bad {
   background-color: #FFDAD9;
   font-size: 1.3em;
}
ion-card-content p {
   font-weight: 700 !important;
   font-size: 1.3em !important;
}
ion-card-content ul li {
   background-color: #FCFCC6;
   font-size: 1.3em;
}
ion-card-header {
   background-color: #2C76FC;
   padding: 3 3 3 3;
}
ion-card-header h2 {
   color: #FFFFFF !important;
   font-size: 1.2em !important;
}
ion-card-header.bad {
   background-color: #D3342C;
   padding: 3 3 3 3;
}
