<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Maps</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!myLocation || !myAddress" (click)="done()">
        <ion-label>Done</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas" style="width: 100%; height: 100%;">
    <!-- <ion-searchbar placeholder="Search Locations" margin-top></ion-searchbar> -->
  </div>
</ion-content>