<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [src]="'menu' | icomoon: 'white'" class="color-trans toolbar-icon"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Citation # {{citation?.id}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()">
        <ion-icon slot="icon-only" [src]="'upload' | icomoon: 'white'" class="color-trans toolbar-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="citation">
    <ion-list-header color="medium">
      <ion-label>Photo Evidence</ion-label>
    </ion-list-header>

    <ion-grid>
      <ng-container *ngFor="let item of citation.attachments, let i=index">
        <ion-row *ngIf="i % 2 == 0">
          <ion-col>
            <ion-thumbnail *ngIf="i == 0" (click)="takePhoto()">
              <ion-icon [src]="'plus' | icomoon: 'orange'" class="color-trans"></ion-icon>
            </ion-thumbnail>

            <ion-thumbnail *ngIf="i != 0" (click)="viewPhoto(item)">
              <ion-img [src]="'data:image/jpeg;base64,' + item.data"></ion-img>
              <div class="image-description">
                {{item.name}}.{{item.type}}
              </div>
            </ion-thumbnail>

          </ion-col>
          <ion-col>
            <ion-thumbnail *ngIf="citation.attachments[i+1] as nextItem" (click)="viewPhoto(nextItem)">
              <ion-img [src]="'data:image/jpeg;base64,' + nextItem.data"></ion-img>
              <div class="image-description">
                {{nextItem.name}}.{{nextItem.type}}
              </div>
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>

    <ion-text *ngIf="!citation.attachments.length < 2" class="text-no-content ">
      {{noContentText}}
    </ion-text>
  </div>

</ion-content>