<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [src]="'menu' | icomoon: 'white'" class="color-trans toolbar-icon"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Citation # {{citation?.id}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()">
        <ion-icon slot="icon-only" [src]="'upload' | icomoon: 'white'" class="color-trans toolbar-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="citation">
    <ion-list-header color="medium">
      <ion-label>Photo Evidence</ion-label>
    </ion-list-header>

    <ion-grid>
      <ng-container *ngFor="let item of images, let i=index">
        <ion-row *ngIf="i % 2 == 0">
          <ion-col>
            <ion-thumbnail *ngIf="i == 0" (click)="takePhoto()">
              <ion-icon [src]="'plus' | icomoon: 'orange'" class="color-trans"></ion-icon>
            </ion-thumbnail>

          </ion-col>
          <ion-col>
            <ion-thumbnail *ngIf="images[i+1] as nextItem">
              <ion-img [src]="nextItem"></ion-img>
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>

    <ion-card *ngFor="let attachment of citation.attachments;">
      <ion-item lines="full" [detail]="false">
        <ion-label>{{attachment.name}}</ion-label>
        <ion-note color="primary" text-end text-uppercase>{{attachment.type}}</ion-note>
      </ion-item>

      <ion-card-content>
        <ion-thumbnail>
          <ion-img [src]="'data:image/jpeg;base64,' + attachment.data"></ion-img>
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>

    <ion-text *ngIf="!citation.attachments?.length" class="text-no-content ">
      {{textEmptyAttachs}}
    </ion-text>
  </div>

</ion-content>