:host {
    .text-no-content {
        position: absolute;
        padding: 4vh;
        line-height: 1.4;
        color: var(--ion-color-dark);
        opacity: .9;
    }

    ion-thumbnail {
        width: calc(50vw - 5px);
        height: calc(50vw - 5px);

        display: table-cell;
        vertical-align: middle;
        text-align: center;
        
        background: var(--ion-color-light) !important;

        ion-icon {
            width: 2em;
            height: 2em;
        }

        ion-img {
            height: calc(50vw - 5px);
        }

        .image-description {
            position: absolute;
            width: calc(100% - 10px);
            height: 32px;
            bottom: 5px;
            padding: 8px;
            color: var(--theme-orange);
            background: rgba(var(--ion-color-primary-contrast-rgb), .7);
            text-align: center;
        }
    }
}