:host {
    
    .password-form {
    
        margin: 5vh auto;
        padding: 24px;
    
        ion-item.invalid {
            --border-color: var(--ion-color-danger) !important;
        }

        ion-item {
            --border-width: 0px 0px 0.55px 0px;
            --inner-border-width: 0;
        }

        ion-button.button-submit {
            margin-top: 48px;
        }
    }
    
}