<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onSave()" [disabled]="!settingsForm.valid">
        <ion-label>Done</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title>Settings</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onSave()">
        <ion-label>Skip</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="curSegment" color="primary" mode="ios" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="general">
      <ion-label>General</ion-label>
    </ion-segment-button>
    <ion-segment-button value="database">
      <ion-label>Database</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form [formGroup]="settingsForm" [ngSwitch]="curSegment">
    <ion-list *ngSwitchCase="'general'" lines="full">
      <ion-list-header color="medium">
        <ion-label>Profile</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Customer ID</ion-label>
        <ion-input text-end formControlName="custKey"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>User ID</ion-label>
        <ion-input text-end formControlName="userID"></ion-input>
      </ion-item>

      <ion-list-header color="medium">
        <ion-label>App Settings</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Server URL</ion-label>
        <ion-input text-end formControlName="hostURL"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Geolocation</ion-label>
        <ion-toggle color="secondary"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Push Notification</ion-label>
        <ion-toggle color="secondary"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'database'" lines="full">
      <ion-list-header color="medium">
        <ion-label>Citation</ion-label>
      </ion-list-header>
      
      <ion-item>
        <ion-label>Plate Type</ion-label>
        <veh-select entity="vehcolor"></veh-select>
      </ion-item>

      <ion-item>
        <ion-label>Vehicle State</ion-label>
        <veh-select entity="vehstate"></veh-select>
      </ion-item>

      <ion-item>
        <ion-label>Vehicle Color</ion-label>
        <veh-select entity="vehcolor"></veh-select>
      </ion-item>

      <ion-item>
        <ion-label>Vehicle Make</ion-label>
        <veh-select entity="vehmake"></veh-select>
      </ion-item>

      <ion-item>
        <ion-label>Location</ion-label>
        <veh-location slot="end"></veh-location>
      </ion-item>
    </ion-list>
  </form>
</ion-content>