<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="onSave()" [disabled]="!settingsForm.valid">
        <ion-label>Done</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [formGroup]="settingsForm">
    <ion-list-header color="medium">
      <ion-label>Configuration</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked" class="required">Customer ID</ion-label>
      <ion-input formControlName="custKey"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="required">User ID</ion-label>
      <ion-input formControlName="userID"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="required">Service URL</ion-label>
      <ion-input formControlName="hostURL"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>