:host {
    ion-range {
        padding-right: 0 !important;
    }

    ion-segment {
        --ion-color-base: var(--theme-orange) !important;
        
        ion-segment-button {
            ion-label {
                padding: 8px 0;
            }
        }
    }

    ion-item {
        ion-label {
            --color: var(--ion-color-dark);
        }

        ion-input, ion-datetime, ion-textarea, veh-select, veh-location {
            opacity: 1;
        };

        veh-location {
            margin-right: 0;
        }
    }
    
}

.md {
    ion-segment {
        --ion-color-base: var(--theme-orange) !important;
        
        ion-segment-button {
            ion-label {
                padding: 0px 0;
            }
        }
    }
}