:host {
    ion-range {
        padding-right: 0 !important;
    }

    ion-segment {
        margin-top: 10%;
    }

    ion-item {
        ion-label {
            --color: var(--ion-color-medium);
            font-size: smaller;
        }

        ion-input, ion-datetime, ion-textarea, veh-select, veh-location {
            opacity: .8;
        };

        veh-location {
            margin-right: 0;
        }
    }

    ion-segment-button {
        ion-label {
            padding: 8px 0;
        }
    }
}