<ion-tabs *ngIf="citation; else notExists">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vehicle">
      <ion-icon name="car"></ion-icon>
      <ion-label>Vehicle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="violation">
      <ion-icon name="timer"></ion-icon>
      <ion-label>Violation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="review">
      <ion-icon name="checkmark"></ion-icon>
      <ion-label>Finish</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<!-- NotExists template -->
<ng-template #notExists>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="citations"></ion-back-button>
      </ion-buttons>
      <ion-title>Not Exists</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <div>
      <ion-icon name="sad"></ion-icon>
    </div>
    <p text-center>
      Sorry, the citation with #{{cid}} does not exist.
    </p>
  </ion-content>
</ng-template>