<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>QR Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- scan button -->
  <ion-fab vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button (click)="onScan()" color="secondary">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- scan result -> 'success' -->
  <ion-card *ngIf="scanResult?.status == 'success'" class="citation-info">
      <ion-card-header>
          <ion-card-subtitle color="secondary">{{scanResult.message}}</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          <ion-list>
            <ion-item lines="full">
              <ion-label>Citation #</ion-label>
              <ion-note>{{citation?.custKey}}</ion-note>
            </ion-item>
      
            <ion-item lines="full">
              <ion-label>Organization #</ion-label>
              <ion-note>{{citation?.serial_number}}</ion-note>
            </ion-item>
          </ion-list>
        </ion-card-content>
    
        <ion-item lines="none">
          <ion-buttons slot="end">
            <ion-button (click)="onContinue()">
              <ion-label>Continue</ion-label>
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
  </ion-card>

  <!-- scan result -> 'invalid' -->
  <ion-card *ngIf="scanResult?.status == 'invalid'" class="citation-info">
    <ion-card-header>
      <ion-card-subtitle color="danger">{{scanResult.message}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h4>Scanned data:</h4>
      <p>{{scanResult.data}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>