:host {
    ion-fab {
        top: 36px;
    }

    ion-card.citation-info {
        margin-top: 120px;
    }

    .qr-button-container {
        margin-top: 36px;

        h5 {
            color: var(--theme-blue);
            margin-top: 8px;
            font-size: 15px;
            font-weight: 200;
        }
    }

    ion-button.btn-scan {
        --border-radius: 50%;
        width: 56px;
        height: 56px;
        font-size: 14px;
    }
}