<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [src]="'menu' | icomoon: 'white'" class="color-trans toolbar-icon"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Citation # {{citation?.id}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()">
        <ion-icon [src]="'upload' | icomoon: 'white'" class="color-trans toolbar-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="citation">
      <ng-container [ngSwitch]="segment">
    
          <!-- /Vehicle -->
          <tab-vehicle [citation]="citation" *ngSwitchCase="'vehicle'"></tab-vehicle>
      
          <!-- /Violation -->
          <tab-violation [citation]="citation" *ngSwitchCase="'violation'"></tab-violation>
      
          <!-- /Photos -->
          <tab-photos [citation]="citation" *ngSwitchCase="'photos'"></tab-photos>
      
          <!-- /Review -->
          <tab-review [citation]="citation" *ngSwitchCase="'review'" (submitClick)="onSubmit()"></tab-review>
      
        </ng-container>
  </ng-container>
</ion-content>

<ion-footer>

  <ion-toolbar color="primary">

    <ion-segment [(ngModel)]="segment" (ionChange)="segment=$event.target.value" color="primary">
      <ion-segment-button value="vehicle">
        <ion-label>Vehicle</ion-label>
        <ion-icon [src]="'car' | icomoon: 'white'" class="color-trans"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="violation">
        <ion-label>Violation</ion-label>
        <ion-icon [src]="'balance' | icomoon: 'white'" class="color-trans"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="photos">
        <ion-label>Photos</ion-label>
        <ion-icon [src]="'images' | icomoon: 'white'" class="color-trans"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="review">
        <ion-label>Review</ion-label>
        <ion-icon [src]="'checkmark' | icomoon: 'white'" class="color-trans"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-footer>