:host {
    .button-submit {
        width: 240px;
        margin: 0 auto;
    }

    ion-segment-button {

        &.segment-button-checked {
            background: var(--background) !important;
            color: var(--ion-color-primary) !important;
        }

        // color: var(--ion-color-light) !important;
        --color-checked: var(--ion-color-primary) !important;
        --border-width: 0 !important;

        ion-label {
            font-size: 10px !important;
        }

        ion-icon {
            font-size: 22px !important;
        }
    }

    ion-card ion-thumbnail {
        width: 100%;
        height: 100%;
    }

    /** Attachment button **/
    ion-fab {
        position: fixed;
        bottom: 60px;
    }

    ion-item {
        // --min-height: 54px;

        ion-label {
            --color: var(--ion-color-dark);
            opacity: .9;
            font-size: smaller;
        }

        ion-input, ion-datetime, ion-textarea, veh-select, veh-location {
            opacity: .8;
        };

        veh-location {
            margin-right: 0;
        }
    }

    ion-item-divider {
        min-height: 54px;

        ion-button {
            --ion-color-secondary: var(--theme-orange) !important;
            --background-activated: transparent !important;
        }
    }

    .opacity-8 {
        opacity: .8;
    }

    ion-grid {
        ion-col {
            border-color: var(--ion-color-medium) !important;
            border-style: solid !important;
            border-width:  0.55px 0px 0px 0.55px !important;
        
            &:last-child {
                border-width:  0.55px 0.55px 0px 0.55px !important;
            }
        }

        ion-row:last-child {
            ion-col {
                border-width:  0.55px 0px 0.55px 0.55px !important;
                
                &:last-child {
                    border-width:  0.55px 0.55px 0.55px 0.55px !important;
                }
            }

        }

        --ion-grid-column-padding: 10px;
    }

    .text-empty-attachment {
        position: absolute;
        margin-top: 12vh;
        padding: 4vh;
        line-height: 1.4;
        color: var(--ion-color-dark);
        opacity: .9;
    }

    .review-container {
        ion-grid.review-comments, ion-grid.review-violations {
            padding-top: 0 !important;
        }
    }
}