<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="vehicle">
      <ion-icon [src]="'car' | icomoon: 'white'"></ion-icon>
      <ion-label>Vehicle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="violation">
      <ion-icon [src]="'balance' | icomoon: 'white'"></ion-icon>
      <ion-label>Violation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <ion-icon [src]="'images' | icomoon: 'white'"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="review">
      <ion-icon [src]="'checkmark' | icomoon: 'white'"></ion-icon>
      <ion-label>Review</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>