:host {
    .button-submit {
        width: 240px;
        margin: 0 auto;
    }

    ion-segment-button {

        &.segment-button-checked {
            background: var(--background) !important;
            color: var(--ion-color-primary) !important;
        }

        color: var(--ion-color-medium) !important;
        --color-checked: var(--ion-color-primary) !important;
        --border-width: 0 !important;

        ion-label {
            font-size: 10px !important;
        }

        ion-icon {
            font-size: 22px !important;
        }
    }

    ion-card ion-thumbnail {
        width: 100%;
        height: 100%;
    }

    ion-card.xml-card{
        ion-card-content {
            overflow-x: auto;
            max-height: 320px;
            background: #f0f8ff;

            & > .xml-content {
                white-space: pre;
                background: var(--ion-color-step-300);
                font-size: 14px;
            }
        }
    }

    ion-fab {
        position: fixed;
        bottom: 60px;
    }

    ion-item {
        --min-height: 54px;

        ion-label {
            --color: var(--ion-color-medium);
            font-size: smaller;
        }

        ion-input, ion-datetime, ion-textarea, veh-select, veh-location {
            opacity: .8;
        };

        veh-location {
            margin-right: 0;
        }
    }

    ion-item-divider {
        min-height: 54px;
    }

    .opacity-8 {
        opacity: .8;
    }
}