<ion-select [(ngModel)]="value" [placeholder]="placeholder">
  <ion-select-option *ngFor="let option of list" [value]="option[valueField]">
    {{option[displayField]}}
  </ion-select-option>
</ion-select>

<!-- Expected in the next version of Ionic 4(4.0.2 or later) -->
<!-- https://github.com/ionic-team/ionic/pull/17358 -->
<!-- <ion-select [(ngModel)]="value" [placeholder]="placeholder" [compareWith]="entityCompare">
  <ion-select-option *ngFor="let option of list" [value]="option">
    {{option[displayField]}}
  </ion-select-option>
</ion-select> -->
