<ion-list-header color="medium">
  <ion-label>Review</ion-label>
</ion-list-header>

<ion-grid padding>
  <ion-row>
    <ion-col size="4">
      <ion-label>License #</ion-label>
    </ion-col>
    <ion-col text-end>
      <ion-note>{{citation.vehicle_license}}</ion-note>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-label>State</ion-label>
    </ion-col>
    <ion-col text-end>
      <ion-note>{{citation.vehicle_state?.name}}</ion-note>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-label>VIN</ion-label>
    </ion-col>
    <ion-col text-end>
      <ion-note>{{citation.vehicle_vin}}</ion-note>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-label>Location</ion-label>
    </ion-col>
    <ion-col text-end>
      <ion-note>{{citation.location}}</ion-note>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-container *ngIf="citation.comments">
  <ion-list-header>
    <ion-label>Comments</ion-label>
  </ion-list-header>

  <ion-grid padding class="review-comments">
    <ion-row>
      <ion-col>
        <ion-note>{{citation.comments}}</ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

<ng-container *ngIf="citation.violations?.length">
  <ion-list-header>
    <ion-label>Violations</ion-label>
  </ion-list-header>

  <ion-grid padding class="review-violations">
    <ion-row *ngFor="let vio of citation.violations">
      <ion-col>
        <ion-note>{{vio.description}}</ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

<div padding>
  <ion-button (click)="submit()" expand="full" color="secondary" class="button-submit">Submit</ion-button>
</div>