<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [src]="'menu' | icomoon: 'white'" class="color-trans toolbar-icon"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Citation # {{citation?.id}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()">
        <ion-icon slot="icon-only" [src]="'upload' | icomoon: 'white'" class="color-trans toolbar-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="citation">
    <ion-list-header color="medium">
      <ion-label>Location Details</ion-label>

      <div>
        <ion-button>
          <ion-icon [src]="'home' | icomoon: 'white'" class="color-trans"></ion-icon>
        </ion-button>

        <ion-button (click)="openMaps()">
          <ion-icon [src]="'map' | icomoon: 'white'" class="color-trans"></ion-icon>
        </ion-button>
      </div>
    </ion-list-header>

    <ion-item>
      <ion-label>Location</ion-label>
      <!-- <veh-location slot="end"></veh-location> -->
      <ion-input text-end [(ngModel)]="citation.location.street" clearInput="true"></ion-input>
    </ion-item>
    <!-- 
        <ion-item>
          <ion-label position="stacked">Remarks</ion-label>
          <ion-textarea [(ngModel)]="citation.remarks" autosize></ion-textarea>
        </ion-item> -->

    <ion-list-header color="medium">
      <ion-label>Violation Details</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Warning</ion-label>
      <ion-toggle [(ngModel)]="citation.warning" color="secondary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Void</ion-label>
      <ion-toggle [(ngModel)]="citation.void" color="secondary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Comments</ion-label>
      <ion-textarea [(ngModel)]="citation.comments" autosize maxlength="250"></ion-textarea>
    </ion-item>

    <ion-list-header color="medium">
      <ion-label>
        Violations
      </ion-label>

      <ion-button (click)="openViolations()">
        <ion-icon [src]="'create' | icomoon: 'white'" class="color-trans"></ion-icon>
      </ion-button>
    </ion-list-header>

    <ion-item *ngFor="let vio of citation.violations">
      <ion-label>
        {{vio.description}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>